<div class="container">
  <h1>Wishlist Projects</h1>
    <% current_user.favorites.each do |favorite| %>
    <div class="row animated fadeIn">
      <div class="col-sm-5">
        <%= link_to(image_tag(favorite.project.main_image.url(:large), class: "img-fluid img-thumbnail"), favorite.project, class: "img-fluid") %>
        <%= %>
      </div>
      <div class="col-sm-5" style="padding-top: 35px">
        <h3><%= favorite.project.title %></h3>
        <p><%= favorite.project.description %></p>
        <br>
        <div class="col-sm-6" align="center">
          <p><b>Goal: </b>$<%= favorite.project.goal %></p>
        </div>
        <div class="col-sm-6" align="center">
          <p>Ends <%= (favorite.project.created_at.to_date + (favorite.project.duration).months).strftime("%B %e, %Y") %></p>
        </div>
      </div>
      <div class="col-sm-2" style="padding-top: 70px">
        <td><%= link_to 'Show', favorite.project, :class => "btn btn-primary btn-block" %></td>
        <% if current_user.id == favorite.project.user_id or current_user.admin %>
          <br>
          <td><%= link_to 'Edit', edit_project_path(favorite.project), :class => "btn btn-warning btn-block" %></td>
          <br>
          <td><%= link_to 'Delete', favorite.project, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger btn-block" %></td>
        <% end %>
      </div>
    </div>
    <br>
    <% end %>
</div>
