<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :user_active %>
  </div>

  <div class="field">
    <%= form.label :last_login %>
    <%= form.datetime_select :last_login, id: :user_last_login %>
  </div>

  <%= form.fields_for :personal_info do |personal| %>
    <%= personal.label :first_name %>
    <%= personal.text_field :first_name %>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
