<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-5">

    <div class="form-check">
      <%= form.check_box :active, id: :user_active, class: 'form-check-input' %>
      <label class="form-check-label" for="exampleCheck1"><%= form.label :active %></label>
    </div>

    <div>
      <%= form.fields_for :personal_info do |personal| %>

        <div class="form-check" >
          <%= personal.check_box :admin, class: 'form-check-input' %>
          <label class="form-check-label" for="exampleCheck2"><%= personal.label :admin %></label>
        </div>

        <div class="form-group" >
          <label><%= personal.label :first_name %></label>
          <%= personal.text_field :first_name, class: 'form-control' %>
        </div>

        <div class="form-group" >
          <label><%= personal.label :last_name %></label>
          <%= personal.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="form-group" >
          <label><%= personal.label :phone %></label>
          <%= personal.text_field :phone, class: 'form-control' %>
        </div>

        <div class="form-group" >
          <label><%= personal.label :email %></label>
          <%= personal.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group" >
          <label><%= personal.label :address %></label>
          <%= personal.text_field :address, class: 'form-control' %>
        </div>

        <div class="form-group" >
          <label><%= personal.label :country %></label>
          <%= personal.text_field :country, class: 'form-control' %>
        </div>

        <div class="form-group" >
          <label><%= personal.label :city %></label>
          <%= personal.text_field :city, class: 'form-control' %>
        </div>

      <% end %>
      <br>
    </div>



    <div class="actions">
      <button type="submit" class="btn btn-primary">Submit</button>
      <%= link_to 'Cancel', users_path, :class => "btn btn-danger" %>
      <!--<%= form.submit %>-->
    </div>
  </div>
<% end %>
