<%= form_with(model: @user, local: true) do |form| %>


  <div class="col-sm-1">

  </div>

  <div class="col-sm-5">
    <h4>Personal Information</h4>
    <br>
    <div class="form-group">
      <%= form.label :first_name %><br/>
      <%= form.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :last_name %><br/>
      <%= form.text_field :last_name, autocomplete: "last_name", class: "form-control" %>
    </div>

    <div>
      <%= form.label :avatar %>
      <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                  Browser...<%= form.file_field :avatar, class: "file", type: 'file'%>
                </span>
            </span>
        <input type="text" class="form-control" readonly>
      </div>
      <img id='img-upload'/>
    </div>

    <div class="form-group">
      <%= form.check_box :admin, class: 'form-check-input' %>
      <%= form.label :admin %>
    </div>

    <div class="form-group">
      <%= form.label :phone %><br/>
      <%= form.text_field :phone, autocomplete: "phone", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :address %><br/>
      <%= form.text_field :address, autocomplete: "address", class: "form-control" %>
    </div>

    <div>
      <%= form.label :country %><br/>
      <%= form.country_select :country, {prompt: 'Please select a country', selected: "CL", format: :with_alpha2}, class: 'form-control' %><br>
    </div>

    <div class="form-group">
      <%= form.label :city %><br/>
      <%= form.text_field :city, autocomplete: "city", class: "form-control" %>
    </div>

  </div>

  <div class="col-sm-5">
    <h4>Credentials</h4>
    <br>
    <div class="form-group">
      <%= form.label :email %><br/>
      <%= form.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>



    <div class="form-group">
      <%= form.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
      <%= form.password_field :password, autocomplete: "off", class: "form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation %><br/>
      <%= form.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :current_password %><br/>
      <%= form.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Update", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
