<div class="container">


  <div align="center">
    <% if @user.avatar.exists? %>
      <%= image_tag(@user.avatar.url(:medium),size: "200x200", class: "thumb1 img-circle") %>
    <% else %>
      <%= image_tag("generic_profile.jpeg",size: "200x200", class: "thumb1 img-circle") %>
    <% end %>
  </div>

  <div align="center" style="padding-top: 10px">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-warning btn-sm" %>
      <% end %>
    <% end %>
  </div>

  <div class="row" style="padding-top: 20px">
    <div class="col-sm-7">
      <div class="panel panel-success">
        <div class="panel-heading">Credentials</div>
        <div class="panel-body">
          <strong>E-mail: </strong><%= @user.email %><br>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-heading">Contact Information</div>
        <div class="panel-body">
          <strong>Phone: </strong><%= @user.phone %><br>
          <strong>Address: </strong><%= @user.address %>, <%= @user.city %>, <%= @user.country %>
        </div>
      </div>
    </div>
  </div>
</div>