<div class="container">
  <div class="img-wrapper" align="center">
    <% if @user.avatar.exists? %>
      <%= image_tag(@user.avatar.url(:medium),size: "200x200", class: "thumb1 img-circle") %>
    <% else %>
      <%= image_tag("generic_profile.jpeg",size: "200x200", class: "thumb1 img-circle") %>
    <% end %>
    <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
        <div class="img-overlay">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-warning btn-sm" %>
        </div>
      <% end %>
    <% end %>

  </div>

  <div align="center" style="padding-top: 10px">
    <h1 style="font-size: 48px;"><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>

  <div class="row" style="padding-top: 20px">
    <div class="col-sm-7 animated bounceInLeft">
      <div class="panel panel-success">
        <div class="panel-heading">Activities</div>
        <div class="panel-body">
          <h5><%= @user.first_name %> has: </h5>
          <ul>
            <li>Started <%= @projects %> campaigns.</li>
            <li>Founded exactly <%= @founded %> projects.</li>
            <li><%= @waiting %> contributions still waiting for approval.</li>
          </ul>
          <br>

        </div>
      </div>
      <%= link_to 'Projects', show_user_projects_path(id: @user.id), class: "btn btn-default btn-block" %>
    </div>

    <div class="col-sm-5 animated bounceInRight">
      <div class="panel panel-primary">
        <div class="panel-heading">Contact Information</div>
        <div class="panel-body">
          <strong>E-mail: </strong><%= @user.email %><br>
          <strong>Phone: </strong><%= @user.phone %><br>
          <strong>Address: </strong><%= @user.address %>, <%= @user.city %>, <%= @user.country %>
        </div>
      </div>
    </div>
  </div>
</div>