<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Projects</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Active</th>
      <th>Visible</th>
      <th>Release date</th>
      <th>Owner ID</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.active %></td>
        <td><%= project.visible %></td>
        <td><%= project.release_date %></td>
        <td><%= project.user_id %></td>
        <td><%= link_to 'Show', project, class: 'btn btn-link' %></td>
        <td><%= link_to 'Edit', edit_project_path(project), class: 'btn btn-link' %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

