<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @project.active %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @project.visible %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @project.release_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
