<div class="container">
  <div class="row" style="padding-top: 50px">
    <div class="col-sm-6" style="padding-top: 75px">
      <!-- SHOW SLIDESHOW WITH IMAGE AND VIDEO -->
      <%= link_to (image_tag(@project.main_image.url(:large), class: "img-fluid img-thumbnail")), download_image_p_path(id: @project) %>
      <br>
      <br>
      <div class="col-sm-6">
        <%= link_to 'Get to know the publisher', @project.user, :class => "btn btn-info btn-sm" %>
      </div>
      <div class="col-sm-6" align="right">
        <% if user_signed_in? %>
          <% if !(current_user.favorite_projects.include?(@project)) %>
            <%= link_to "Add to Wishlist", favorite_project_path(@project, type: "favorite"), method: :put, class: "btn btn-success btn-sm" %>
          <% else %>
            <%= link_to "Remove from Wishlist", favorite_project_path(@project, type: "unfavorite"), method: :put, class: "btn btn-danger btn-sm" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6" style="padding-left: 100px; padding-right: 75px">
      <div class="row" align="center">
        <h1><%= @project.title %></h1>
        <% if user_signed_in? %>
          <% if current_user.id == @project.user_id %>
            <%= link_to 'Edit Project', edit_project_path(@project), :class => "btn btn-warning btn-sm" %>
          <% end %>
          <% if current_user.admin %>
            <%= link_to 'Mark as Outstanding', make_outstanding_path(@project), :class => "btn btn-default btn-sm" %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <h4>Categories</h4>
        <% @project.categories.each do |category| %>
          <b style="font-size: 15px; font-style: italic; color: #666666">* <%= category.tag %></b>
        <% end %>
        <br><br>
        <h4>Description</h4>
        <p><%= @project.description %></p>
      </div>
      <br>
      <div class="row" align="center">
        <%
          sum = 0
          @project.contributions.each do |item|
            sum += item.amount
          end
          Finance.all.each do |item|
            if item.promise.project.id == @project.id
              sum += item.promise.amount
            end
          end
        %>
        <p align="center" style="font-size: 24px"><strong>Goal: </strong>$<%= @project.goal %></p>
        <b style="font-size: 24px; color: coral;">$<%= sum %> Collected</b>
        <p style="font-size: 20px; color: goldenrod;">Campaign open until <%= (@project.created_at.to_date + (@project.duration).months).strftime("%B %e, %Y") %></p>
        <br>
      </div>
      <% if user_signed_in? %>
        <div class="row">
          <h4>Promises</h4>
          <% if @project.promises.count == 0 %>
            <p>This project doesn't have any promises.</p>
          <% end %>
          <div>
            <table class="table">
              <tbody>
                <% @project.promises.each do |promise|%>
                  <tr>
                    <td><%= promise.title %></td>
                    <td>$<%= promise.amount %></td>
                    <td align="center">
                      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                        Buy
                      </button>
                      <% if current_user == @project.user %>
                        <div class="btn-group">
                          <%= link_to 'Edit', edit_promise_path(promise), class: 'btn btn-default btn-sm' %>
                          <%= link_to 'Delete', promise, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default btn-sm", type: 'button' %>
                        </div>
                      <% end %>
                    </td>
                  </tr>
                <%end%>
              </tbody>
            </table>

          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" align="center" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                An E-mail was send to <b><%= current_user.email %></b> in order to follow up on transaction.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id = 'botnfunding' align="center">
          <button id = "btn1" class="btn btn-warning btn-lg btn-block" ><b>Support this Project</b></button>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">

  </div>
</div>

<script> $('#btn1').click(function () {
    var newb = " <button id = 'botndone' class=\"btn btn-warning btn-md btn-block\" ><b>Done</b></button>"
    var newtext = " Amount:<br>\n" +"  <input type=\"number\" name=\"lastname\">"
    $('#botnfunding').append(newtext);
    $('#botnfunding').append(newb);
    $('#btn1').remove();


})</script>>
