<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-5">
    <div class="form-group">
      <%= form.label :tag %>
      <%= form.text_field :tag, id: :category_tag, class: "form-control" %>
    </div>

    <div class="actions" align="center">
      <%= form.submit "Create", class: "btn btn-primary btn-sm" %>
      <%= link_to 'Back', categories_path, class: "btn btn-danger btn-sm" %>
    </div>
  </div>

<% end %>
