<div class="container">
  <div align="center">
    <%= image_tag("logo.png",size: "320x200", alt: "Edit Entry") %>
    <h4>Ángeles Aldunate - Alfonso Zúñiga</h4>

    <% if user_signed_in? %>
      <div class="row">
        <br>
        <% if current_user.avatar.exists? %>
          <p style="font-size: 18px"><%= image_tag(current_user.avatar.url(:small),size: "60x60", class: "img-circle") %> Hi <%= current_user.first_name %>!</p>
        <% else %>
          <p style="font-size: 18px">Hi <%= current_user.first_name %>!</p>
        <% end %>

      </div>
    <% end %>

  </div>
  <div class="row" style="padding-top: 20px">
    <div class="col-sm-6">
      <div class="col-sm-4">
        <% if user_signed_in? %>
        <h2>Projects</h2>
        <div>
          <%= link_to "All Projects", projects_path, :class => "btn btn-info" %>
        </div>
        <% end %>
      </div>

      <div class="col-sm-4">

      </div>

      <div class="col-sm-4">

      </div>
    </div>

    <div class="col-sm-6">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">

    </div>
  </div>
</div>