<div class="container">
  <div align="center">
    <%= image_tag("logo.png",size: "320x200", alt: "Edit Entry") %>
    <h4>Ángeles Aldunate - Alfonso Zúñiga</h4>
  </div>

  <div class="col-sm-3">
    <h2>Users</h2>
    <div class="btn btn-success">
      <%= link_to "New User", new_user_path, :class => "btn" %>
    </div>
    <br>
    <br>
    <div class="btn btn-info">
      <%= link_to "All Users", users_path, :class => "btn"%>
    </div>
  </div>

  <div class="col-sm-3">
    <h2>Projects</h2>
    <div class="btn btn-success">
      <%= link_to "New Project", new_project_path, :class => "btn" %>
    </div>
    <br>
    <br>
    <div class="btn btn-info">
      <%= link_to "Open Projects", projects_path, :class => "btn"%>
    </div>
  </div>
</div>