<!DOCTYPE html>
<html>
<head>
  <title>CourseProjectAzcrowdfunding</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header" >
      <%= link_to root_path do %>
        <%= image_tag("logo2.png", alt: "Edit Entry", align: "middle", class: 'navbar-brand') %>
      <% end %>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#" style="font-size: medium">Categories</a></li>
      <li><a href="#" style="font-size: medium">Tools</a></li>
      <li data-toggle="modal" data-target="#exampleModal"><a style="font-size: medium">About Us</a></li>
    </ul>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>About Us</h4>
            <p>We are a couple of Software Engineering students currently enrolled in a Web Technologies course at
              Universidad de los Andes. This semester we were asked to develop a crowdfunding web platform using
              the Ruby on Rails framework. Given that this is our first time working with web technologies,
              please excuse any fatal error you might find.</p>
            <hr>
            <div class="embed-responsive embed-responsive-16by9 thumbnail">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/voF1plqqZJA"></iframe>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>

    <div align="right">
      <ul class="nav navbar-nav navbar-right" align="right">
        <li>
          <% if user_signed_in? %>
          <li><%= link_to "My Projects", my_projects_path  %></li>
          <li><%= link_to "New Project", new_project_path %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
          <% if current_user.admin%>
            <li><%= link_to "Admin", user_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
<%= yield %>
</body>
</html>