<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <div class="form row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <%= devise_error_messages! %>

      <div class="col-sm-1">

      </div>

      <div class="col-sm-5">
        <h4>Personal Information</h4>
        <br>
        <div class="form-group">
          <%= f.label :first_name %><br/>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %><br/>
          <%= f.text_field :last_name, autocomplete: "last_name", class: "form-control" %>
        </div>

        <div>
          <%= f.label :avatar %>
          <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                  Browser...<%= f.file_field :avatar, class: "file", type: 'file'%>
                </span>
            </span>
            <input type="text" class="form-control" readonly>
          </div>
          <img id='img-upload'/>
        </div>

        <div class="form-group">
          <%= f.label :phone %><br/>
          <%= f.text_field :phone, autocomplete: "phone", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :address %><br/>
          <%= f.text_field :address, autocomplete: "address", class: "form-control" %>
        </div>

        <div>
          <%= f.label :country %><br/>
          <%= f.country_select :country, {prompt: 'Please select a country', selected: "CL", format: :with_alpha2}, class: 'form-control' %><br>
        </div>

        <div class="form-group">
          <%= f.label :city %><br/>
          <%= f.text_field :city, autocomplete: "city", class: "form-control" %>
        </div>

      </div>

      <div class="col-sm-5">
        <h4>Credentials</h4>
        <br>
        <div class="form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(necessary for changes to be saved)</i><br/>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-primary" %> <%= button_to "Back", :back, class: "btn btn-danger" %>
        </div>
      </div>


    <% end %>
  </div>

  <br>

  <div class="row" align="center">
    <p>Click <%= link_to "here", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %>
      to
      delete your account.</p>
  </div>

</div>
